*, :before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    margin-bottom: 25px;
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 40px;
    overflow-y: auto;
}

body {
    background-attachment: fixed, fixed;
    background-color: #002b36;
    background-position: 85% 100%, top left;
    background-repeat: no-repeat, repeat;
    color: #F5F5F5;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 100%;
    line-height: 20px;
    margin: 0;
    padding-top: 20px;
}

.main_container {
    margin: 0 auto;
    max-width: 700px;
}

a {
    text-decoration: none;
    transition: color .25s;
    color: #d9d9d9;
}

a:hover, a:focus, a:active {
    color: #F7F7F7;
}
.alert>a+a:before {
    content: "";
    margin: 0 2px;
}

.secret {
    display: none;
}

.main_container_inner_wrapper {
    margin: 60px 0;
    text-align: center;
    transition: width .5s, height .5s, margin .5s, padding .5s;
}

.main_container_inner_wrapper h1 {
    color: inherit;
    font-family: inherit;
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
    margin: 10px 0;
    cursor: default;
    text-rendering: optimizelegibility;
}

.alert {
    background-color: #FCF8E3;
    border: 5px solid #FBEED5;
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 8px 14px;
}

.alert-info {
    background-color: #073642;
    border-color: #093a46;
    color: #F7F7F7;
    border-radius: 1px;
    min-height: 60px;
    text-align: center;
}

.label-alert {
    font-weight: bold;
}

.div-about {
    text-align: left;
}

.header-about {
    text-align: center;
    font-weight: bold;
}

.image-about {
    height:210px;
    width: 210px;
}

.corner-btn {
    position: absolute;
    margin: 0;
    padding: 5px;
    top: 0;
    right: 0;
}

.corner-caret {
    margin-left: 5px;
    top: 0px;
}

.corner-caret>svg {
    transition: all 0.5s ease 0s;
    fill: white;
    height: 20px;
    width: 20px;
}

.corner-caret.active>svg {
    transition: all 0.5s ease 0s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.hoverable:hover {
    cursor: pointer;
}

.header-container {
    position: absolute;
    align-items: center;
    left: 0px;
    top: -75px;
    width: 100%;
    transition: all 0.5s ease 0s;
}

.header-container.active {
    top: 0px;
}

.header {
    display: flex;
    min-height: 75px;
    width: 100%;
    position: relative;
    background: #263238;
    align-items: center;
}

.inner_header_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0px 40px;
}

.logo {
    font-size: 48px;
    height: 100%;
}

.logo>a {
    height: 100%;
    display: block;
}

.nav {
    align-self: center;
    display: block;
    position: relative;
    height: 100%;
}

.nav>ul>li, .nav>li>ul>a {
    display: inline-block;
    list-style: none;
    margin-left: 40px;
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.nav>ul>li>a:hover {
    text-decoration: underline;
}

::-webkit-scrollbar-track {
    background-color: #002b36;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #093a46;
    border-radius: 10px;
}

#miscOverlay {
    background-color: #073642;
    border: 5px solid #FBEED5;
    border-color: #093a46;
    color: #F7F7F7;
    border-radius: 1px;
    min-height: 60px;
    text-align: center;
    position: fixed;
    width: 50%;
    height: 75%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    cursor: default;
}

select {
    background-color: #0a4250;
    min-height: 30px;
    border: 0px;
    color: #75756d;
}

input {
    background-color: #0a4250;
    margin: 4px;
    padding: 8px;
    border: 0px;
    min-height: 30px;
    color: #cccccc;
}

.misc>nav>ul, .misc>nav a {
    color: #e1d2d2;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
}

.misc>nav>ul>li {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: default;
}

.misc>nav>ul>li:after {
    content: "|";
    margin: 0 8px;
    opacity: .3;
}

.misc>nav>ul>li:last-child:after {
    content: "";
    margin: 0;
}

@media only screen and (max-width: 768px) {
    html {
        margin-top: 0px;
    }

    .jumbotron {
        margin: 0px;
    }

    .header-container {
        top: 0px;
    }

    .corner-caret {
        visibility: hidden;
    }

    #miscOverlay {
        top: 80px;
        width: 90%;
        height: 85%;
    }

    #secretBtn {
        visibility: hidden;
    }
}